/* Main page layout */
.expense-page {
    max-width: 100%; /* Ensure full width similar to summary-page-container */
    margin: 5vh auto; /* Keep consistent with summary-page-container */
    padding: 2vh 4vw; /* Match the padding used in summary-page-container */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: auto; /* Adjust to auto for better handling of content */
    max-height: 100vh; /* Consistent with summary-page-container */
    display: flex;
    flex-direction: column;
    overflow: auto; /* Ensure scrolling if content overflows */
}

/* Filters and Add Expense Button */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin-bottom: 2vh;
    width: 100%; /* Ensure full width for the filters container */
}

/* Adjustments for header text */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%; /* Ensure full width for the heading */
}

/* Adjustments for table and list container */
.expense-list-container {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    width: 100%; /* Ensure the table takes the full width */
}

/* Add Expense Button */
.add-expense-btn {
    padding: 8px 12px;
    font-size: 14px;
    width: auto;
    min-width: 120px;
    border-radius: 4px;
    background-color: #2C3E50;
}

.add-expense-btn:hover {
    background-color: #1A252F;
}

.add-expense-btn:active {
    background-color: #0D1820;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .filters-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .filter-item {
        width: calc(50% - 0.5rem);
        margin-bottom: 1rem;
    }

    .add-expense-btn {
        width: 32%; /* Ensure Add Expense button takes full width */
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .filters-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .filter-item {
        flex: 1;
        min-width: 200px;
        max-width: 45%;
    }

    .add-expense-btn-container {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
